{% extends 'base/base.html'%}
{% load static %}
{% block content %}
	<!--================Header Menu Area =================-->

	<!--================Home Banner Area =================-->
	<section class="banner-area owl-carousel" id="home">
		<div class="single_slide_banner slide_bg1">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center">
					<div class="banner-content col-lg-12 justify-content-center">
						<h1>Steve Henriques</h1>
						<h3>Personal portfolio Website</h3>
						<a href="#" class="primary-btn">Hire Me</a>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slide_banner slide_bg2">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center">
					<div class="banner-content col-lg-12 justify-content-center">
						<h1>Steve Henriques</h1>
						<h3>Personal portfolio Website</h3>
						<a href="#" class="primary-btn">Hire Me</a>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slide_banner slide_bg3">
			<div class="container">
				<div class="row fullscreen justify-content-endd-flex align-items-center">
					<div class="banner-content col-lg-12 justify-content-center">
						<h1>Steve Henriques</h1>
						<h3>Personal portfolio Website</h3>
						<a href="#" class="primary-btn">Hire Me</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================ Start Portfolio Area =================-->
	<section class="section_gap portfolio_area" id="work">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="main-title">
						<h1>Latest Works</h1>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may
							see some for as low as $.17 each.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="projects_fillter">
						<ul class="filter list">
							<li class="active" data-filter="*">All Categories</li>
							<li data-filter=".brand">Branding</li>
							<li data-filter=".work">Creative Work </li>
							<li data-filter=".web">Web Design</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="projects_inner row grid">
				<div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
				<div class="col-lg-6 col-sm-6 col-sm-12 brand web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work1.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-sm-12 brand work grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work2.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 work grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work3.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand work grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work5.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work4.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand work web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work8.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 brand work web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work6.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 brand work web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work7.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Portfolio Area =================-->

	<!--================ Start About Area =================-->
	<section class="about-area section_gap gray-bg">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-5 about-left">
					<img class="img-fluid" src="{% static 'img/about-img.png' %}" alt="">
				</div>
				<div class="col-lg-6 col-md-12 about-right">
					<div class="main-title text-left">
						<h1>about myselt</h1>
					</div>
					<div class="mb-50 wow fadeIn" data-wow-duration=".8s">
						<p>
							inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
							especially in the
							workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate
							behavior
							is often laughed. inappropriate behavior is often laughed off as “boys will be boys,” women face higher.
						</p>
						<p>That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is
							often
							laughed.
						</p>
					</div>
					<a href="#" class="primary-btn">More Info</a>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Area =================-->

	<!--================ Start Testimonial Area =================-->
	<div class="section_gap testimonial_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-left">
					<div class="active_testimonial owl-carousel" data-slider-id="1">
						<!-- single testimonial -->
						<div class="single_testimonial">
							<div class="testimonial_head">
								<img src="img/quote.png" alt="">
								<h4>Fanny Spencer</h4>
								<div class="review">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div class="testimonial_content">
								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
									it, you travel across her face</p>
							</div>
						</div>

						<div class="single_testimonial">
							<div class="testimonial_head">
								<img src="img/quote.png" alt="">
								<h4>Fanny Spencer</h4>
								<div class="review">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div class="testimonial_content">
								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
									it, you travel across her face</p>
							</div>
						</div>

						<div class="single_testimonial">
							<div class="testimonial_head">
								<img src="img/quote.png" alt="">
								<h4>Fanny Spencer</h4>
								<div class="review">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div class="testimonial_content">
								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
									it, you travel across her face</p>
							</div>
						</div>

						<div class="single_testimonial">
							<div class="testimonial_head">
								<img src="img/quote.png" alt="">
								<h4>Fanny Spencer</h4>
								<div class="review">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div class="testimonial_content">
								<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
									it, you travel across her face</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<div class="testimonial_logos">
						<div class="top_logos">
							<img src="{% static 'img/brands/logo1.png' %}" alt="">
							<img src="{% static 'img/brands/logo2.png' %}" alt="">
						</div>
						<div class="mid_logo">
							<img src="{% static 'img/brands/logo3.png' %}" alt="">
						</div>
						<div class="bottom_logos jus">
							<img src="{% static 'img/brands/logo4.png' %}" alt="">
							<img src="{% static 'img/brands/logo5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->

	<!--================ Start Newsletter Area =================-->
	<section class="section_gap newsletter-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="main-title">
						<h1>Join Our Newsletter</h1>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may
							see some for as low as $.17 each.</p>
					</div>
				</div>
			</div>
			<div class="row newsletter_form justify-content-center">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="d-flex flex-row" id="mc_embed_signup">
						<form class="w-100" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="navbar-form">
								<div class="input-group add-on">
									<input class="form-control" name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''"
									 onblur="this.placeholder = 'Your email address'" required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>
									<div class="input-group-btn">
										<button class="genric-btn text-uppercase">
											Subscribe
										</button>
									</div>
								</div>
							</div>
							<div class="info mt-20"></div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Newsletter Area =================-->
{% endblock %}