{% extends 'base/base.html'%}
{% load static %}
{% block content %}
	<!--================Header Menu Area =================-->

	<!--================ Start portfolio Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>My Portfolio</h1>
					<div class="page_link">
						<a href="/">Home</a>
						<a href="/portfolio">Portfolio</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Portfolio Banner Area =================-->

	<!--================ Start Portfolio Area =================-->
	<section class="section_gap portfolio_area" id="work">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="main-title">
						<h1>Latest Works</h1>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may
							see some for as low as $.17 each.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="projects_fillter">
						<ul class="filter list">
							<li class="active" data-filter="*">All Categories</li>
							<li data-filter=".brand">Branding</li>
							<li data-filter=".work">Creative Work </li>
							<li data-filter=".web">Web Design</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="projects_inner row grid">
				<div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
				<div class="col-lg-6 col-sm-6 col-sm-12 brand web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work1.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-sm-12 brand work grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work2.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 work grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work3.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand work grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work5.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work4.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand work web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work8.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 brand work web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work6.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 brand work web grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="{% static 'img/works/work7.jpg' %}" alt="">
						<div class="projects_text">
							<a href="portfolio-details.html">
								<h4>2D Vinyl Design</h4>
							</a>
							<p>Client Project</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{%endblock%}